@using PersonalFinancer.Web.Models.Shared;
@using PersonalFinancer.Web.Models.User;
@using PersonalFinancer.Web.Models.Home;
@model UserDashboardViewModel

@if (!User?.Identity?.IsAuthenticated ?? false)
{
	@*Guest Home Page*@
	ViewData["Title"] = "Home Page";

	<div class="text-center" style="margin-top: 120px;">
		<p class="display-4">Personal Financer</p>
		<p class="display-6">Your Finances in One Place!</p>
		<p class="display-6 fs-3" style="margin-top: 100px;">
			<a style="text-decoration: none;" asp-controller="User" asp-action="Login">Login</a> if you already track your finances or
			<a style="text-decoration: none;" asp-controller="User" asp-action="Register">register</a> to start now.
		</p>
	</div>
}
else
{
	@*User Home Page*@
	ViewData["Title"] = "Dashboard";

	@if (Model.Accounts.Any())
	{
		@*User Accounts*@
		<div style="margin-top: 25px;">
			<p class="display-6 text-center fs-4"><b>Your Accounts</b></p>
			<div class="row" style="margin-top: 25px;">
				@foreach (var account in Model.Accounts)
				{
					<div class="col-xl-3 col-lg-4 col-md-6" role="button" onclick="location.href='@Url.Action("AccountDetails", "Accounts", new { id = account.Id })'">
						<div class="card formField align-items-center">
							<div class="d-flex flex-row align-items-center mb-2">
								<div class="p-2">
									<img src="/icons/icons8-wallet-64.png">
								</div>
								<div class="card-body p-2 flex-grow-1">
									<h5 class="card-title display-6 fs-4"><b>@account.Name</b></h5>
									<p class="card-text display-6 fs-5">@account.Balance @account.CurrencyName</p>
								</div>
							</div>
						</div>
					</div>
				}
			</div>
			<hr />
		</div>

		@*Date Picker*@
		<partial name="_DatePickerFormPartial" model='new DateFilterModel { StartDate = Model.StartDate, EndDate = Model.EndDate }' />

		@if (Model.Transactions.Any())
		{
			<div class="row">

				@*Last Five Transactions*@
				<div class="col-lg-8" style="margin-top: 25px;">
					<div class="card">
						<div class="card-header">
							<h6>Last Five Transactions</h6>
						</div>
						<partial name="_TransactionsTablePartial" />
					</div>
				</div>

				@*Cash Flow*@
				<div class="col-lg-4" style="margin-top: 25px;">
					<div class="card">
						<div class="card-header">
							<h6>Cash Flow</h6>
						</div>
						<div class="card-body">
							@foreach (var currency in Model.CurrenciesCashFlow)
							{
								decimal cashFlow = currency.Incomes + currency.Expenses;
								decimal income = cashFlow != 0 ? Math.Round(currency.Incomes / cashFlow * 100, 2) : 0;
								decimal expence = cashFlow != 0 ? Math.Round(currency.Expenses / cashFlow * 100, 2) : 0;

								<div class="card-title">
									<div class="row row-cols-auto">
										<div class="col">
											<img src="/icons/icons8-profit-64.png" style="max-width: 50px;">
										</div>
										<h4 class="col">@currency.Name</h4>
									</div>
								</div>
								<h4 class="small font-weight-bold">Income <span class="float-right">@currency.Incomes (@income%)</span></h4>
								<div class="progress mb-4">
									<div class="progress-bar bg-success" role="progressbar" style="width: @income%"></div>
								</div>
								<h4 class="small font-weight-bold">Expense <span class="float-right">@currency.Expenses (@expence%)</span></h4>
								<div class="progress mb-4">
									<div class="progress-bar bg-danger" role="progressbar" style="width: @expence%"></div>
								</div>
							}
						</div>
					</div>
				</div>

			</div>
		}
		else
		{
			@*No Transactions Page*@
			<div class="text-center" style="margin-top: 50px;">
				<p class="display-6">
					You do not have any transactions for thar period.
				</p>
			</div>
		}
	}
	else
	{
		@*Empty Dashboard Page*@
		<div class="text-center" style="margin-top: 50px;">
			<p class="display-4">
				Your Dashboard is empty.
			</p>
			<p class="display-6">
				<a style="text-decoration: none;" asp-controller="Accounts" asp-action="Create">Create</a> your first account and start record your Finances!
			</p>
		</div>
	}
}

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}