@using PersonalFinancer.Data.Enums
@using PersonalFinancer.Services.Transactions.Models
@using PersonalFinancer.Web.Infrastructure;
@using static PersonalFinancer.Data.Constants.HostConstants
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@model TransactionFormModel
@{
	ViewData["Title"] = "Create Transaction";

	var requestToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
}

@if (Model.UserAccounts.Any())
{
	<p class="display-6 text-center">@ViewData["Title"]</p>
	<div class="row justify-content-center">
		<div class="col-sm-6">
			<section>
				<form method="post">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="form-floating formField">
						<input asp-for="@Model.Amount" class="form-control form-control-lg" type="text" placeholder=".form-control-lg" />
						<label asp-for="@Model.Amount" class="form-label"></label>
						<span asp-validation-for="@Model.Amount" class="text-danger"></span>
					</div>
					<div class="form-floating formField">
						<input asp-for="@Model.CreatedOn" textmode="Date" class="form-control form-control-lg datepicker" placeholder=".form-control-lg">
						<label asp-for="@Model.CreatedOn" class="form-label"></label>
						<span asp-validation-for="@Model.CreatedOn" class="text-danger"></span>
					</div>
					<div class="dropdown-menu position-static d-grid gap-1 p-2 rounded-3 mx-0 formField" id="categoriesSelection">
						<label asp-for="@Model.CategoryId" class="form-label"></label>
						<select asp-for="@Model.CategoryId" class="form-select" id="categoriesField">
							@foreach (var category in @Model.UserCategories)
							{
								<option value="@category.Id" id="@category.Id">@category.Name</option>
							}
						</select>
						<span asp-validation-for="@Model.CategoryId" class="text-danger"></span>
						<div id="newCategoryDiv" class="form-floating formField" style="display: none;">
							<input id="newCategoryField" class="form-control form-control-lg" type="text" placeholder=".form-control-lg">
							<label class="form-label">Write new Category name...</label>
							<p id="errorMsg" style="color: red;"></p>
						</div>
						<a class="btn btn-secondary" id="createCategoryBtn">Create New Category</a>
						<a class="btn btn-danger" id="deleteCategoryBtn" style="display: none;">Delete This Category</a>
					</div>
					<div class="dropdown-menu position-static d-grid gap-1 p-2 rounded-3 mx-0 formField">
						<label asp-for="@Model.AccountId" class="form-label"></label>
						<select asp-for="@Model.AccountId" class="form-select">
							@foreach (var account in @Model.UserAccounts)
							{
								<option value="@account.Id">@account.Name</option>
							}
						</select>
					</div>
					<div class="dropdown-menu position-static d-grid gap-1 p-2 rounded-3 mx-0 formField">
						<label asp-for="@Model.TransactionType" class="form-label"></label>
						<select asp-for="@Model.TransactionType" asp-items="@Html.GetEnumSelectList<TransactionType>()" class="form-select"></select>
					</div>
					<div class="form-floating formField">
						<input type="text" asp-for="@Model.Refference" class="form-control form-control-lg" placeholder=".form-control-lg" />
						<label asp-for="@Model.Refference" class="form-lebel"></label>
						<span asp-validation-for="@Model.Refference" class="text-danger"></span>
					</div>
					<input type="hidden" asp-for="@Model.OwnerId" />
					<div>
						<button type="submit" class="w-100 btn btn-lg btn-success">Create</button>
					</div>
					<input id="RequestVerificationToken" type="hidden" value="@requestToken" />
				</form>
			</section>
		</div>
	</div>

	@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script src="/js/createDeleteBtns.js"></script>
	<script>
		const createCategoryBtn = document.getElementById('createCategoryBtn');
		const deleteCategoryBtn = document.getElementById('deleteCategoryBtn');
		const newCategoryDiv = document.getElementById('newCategoryDiv');
		const newCategoryField = document.getElementById('newCategoryField');
		const categoriesField = document.getElementById('categoriesField');
		const userId = '@User.Id()';
		const categoriesApi = '@ApiCategoriesUrl';

		deleteBtnController(categoriesField, deleteCategoryBtn, userId);

		eventSetter(createCategoryBtn, newCategoryDiv, categoriesField, newCategoryField, categoriesApi, userId, deleteCategoryBtn);
		eventSetter(deleteCategoryBtn, newCategoryDiv, categoriesField, newCategoryField, categoriesApi, userId);
		eventSetter(categoriesField, newCategoryDiv, categoriesField, newCategoryField, categoriesApi, userId, deleteCategoryBtn);
	</script>
	}
}
else
{
	<div class="text-center" style="margin-top: 50px;">
		<p class="display-4">You do not have any created account.</p>
		<p class="display-6"><a asp-controller="Account" asp-action="Create">Create</a> your first account before start record your transactions.</p>
	</div>
}
