@model TransactionExtendedViewModel

@if (TempData.ContainsKey("successMsg"))
{
	<div class="alert alert-success alert-dismissible fade show" role="alert">
		<i class="bi bi-check-circle me-1"></i>
		@TempData["successMsg"]
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}

<p class="display-6 text-center">Transaction Details</p>
<div class="row">
	<div class="card offset-md-4 col-md-4">
		<ul class="list-group list-group-flush">
			<li class="list-group-item">Created On: @Model.CreatedOn</li>
			<li class="list-group-item">Refference: @Model.Refference</li>
			<li class="list-group-item">Amount: @Model.Amount @Model.Currency</li>
			<li class="list-group-item">Account: @Model.Account</li>
			<li class="list-group-item">Category: @Model.Category</li>
			<li class="list-group-item">Type: @Model.TransactionType</li>
		</ul>
		<div style="margin-top:20px;">
			<a asp-controller="Transaction" asp-action="Edit" asp-route-id="@Model.Id" class="w-100 btn btn-lg btn-warning">Edit</a>
		</div>
		<div style="margin-top:20px; margin-bottom: 20px;">
			<a asp-controller="Transaction" asp-action="Delete" asp-route-id="@Model.Id" class="w-100 btn btn-lg btn-danger">Delete</a>
		</div>
	</div>
</div>