@model TransactionServiceModel
@{
	ViewData["Title"] = "Edit Transaction";
}

<h1 class="display-4 text-center">@ViewData["Title"]</h1>
<div class="row">
	<div class="offset-md-4 col-md-4">
		<section>
			<form method="post">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-floating formField">
					<input asp-for="@Model.Amount" class="form-control form-control-lg" type="text" placeholder=".form-control-lg" />
					<label asp-for="@Model.Amount" class="form-label"></label>
					<span asp-validation-for="@Model.Amount" class="text-danger"></span>
				</div>
				<div class="form-floating">
					<input asp-for="@Model.CreatedOn" type="text" class="form-control form-control-lg" placeholder=".form-control-lg" id="datepicker">
					<label asp-for="@Model.CreatedOn" class="form-label"></label>
				</div>
				<div class="dropdown-menu position-static d-grid gap-1 p-2 rounded-3 mx-0 formField">
					<label asp-for="@Model.CategoryId" class="form-label"></label>
					<select asp-for="@Model.CategoryId" class="form-select">
						@foreach (var category in @Model.Categories)
						{
							<option value="@category.Id">@category.Name</option>
						}
					</select>
				</div>
				<div class="dropdown-menu position-static d-grid gap-1 p-2 rounded-3 mx-0 formField">
					<label asp-for="@Model.AccountId" class="form-label"></label>
					<select asp-for="@Model.AccountId" class="form-select">
						@foreach (var account in @Model.Accounts)
						{
							<option value="@account.Id">@account.Name</option>
						}
					</select>
				</div>
				<div class="dropdown-menu position-static d-grid gap-1 p-2 rounded-3 mx-0 formField">
					<label asp-for="@Model.TransactionType" class="form-label"></label>
					<select asp-for="@Model.TransactionType" class="form-select">
						<option value="@TransactionType.Income">@TransactionType.Income</option>
						<option value="@TransactionType.Expense">@TransactionType.Expense</option>
					</select>
				</div>
				<div class="form-floating formField">
					<input type="text" asp-for="@Model.Refference" class="form-control form-control-lg" placeholder=".form-control-lg" />
					<label asp-for="@Model.Refference" class="form-label"></label>
					<span asp-validation-for="@Model.Refference" class="text-danger"></span>
				</div>
				<div>
					<button type="submit" class="w-100 btn btn-lg btn-warning">Edit</button>
				</div>
			</form>
		</section>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}