@model AccountViewModelExtended

<h1 class="display-6">
	Account: @Model.Name 
	<a asp-controller="Account" asp-action="ConfirmDelete" asp-route-id="@Model.Id" class="btn" style="background-color: red;">
		Delete Account
	</a>
</h1>

<div>
	<h1 class="display-6">Transactions:</h1>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Date</th>
				<th scope="col">Category</th>
				<th scope="col">Type</th>
				<th scope="col">Amount</th>
				<th scope="col">Refference</th>
				<th scope="col"></th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var transaction in Model.Transactions)
			{
				<tr>
					<td>@transaction.CreatedOn</td>
					<td>@transaction.Category</td>
					<td>@transaction.TransactionType</td>
					<td>@transaction.Amount</td>
					<td>@transaction.Refference</td>
					<td>
						<a asp-controller="Transaction" asp-action="Edit" asp-route-id="@transaction.Id" asp-route-returnUrl="~/Account/Details/@Model.Id" class="btn" style="background-color: yellow;">
							Edit
						</a>
					</td>
					<td>
						<a asp-controller="Transaction" asp-action="Delete" asp-route-id="@transaction.Id" class="btn" style="background-color: red;">
							Delete
						</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

<p class="display-6">Balance: @Model.Balance @Model.Currency</p>