@using PersonalFinancer.Common.Constants;
@using PersonalFinancer.Web.Models.Account;
@model UsersAccountsCardsViewModel
@{
	ViewData["Title"] = "All Accounts";
}

<div class="container">

	<h1 class="display-6 text-center">@ViewData["Title"]</h1>

	@*Pagination*@
	<partial name="_PaginationPartial" />

	@*Account Cards*@
	<div class="row" id="accounts">
		@foreach (var account in Model.AccountsCards)
		{
			<div class="col-sm-6 col-lg-4 col-xl-3">
				<div class="card align-items-center shadow mb-4">
					<div class="d-flex align-items-center">
						<div class="p-2">
							<img src="/icons/icons8-wallet-64.png">
						</div>
						<div class="card-body p-2 flex-grow-1">
							<h5 class="card-title">@account.Name</h5>
							<p class="card-text">@account.Balance @account.CurrencyName</p>
						</div>
					</div>
					<div class="d-flex">
						<a asp-area="Admin" asp-controller="Accounts" asp-action="AccountDetails"
					   asp-route-id="@account.Id" class="btn btn-secondary" style="margin-bottom: 10px; margin-right: 10px;">Details</a>
						<a asp-area="Admin" asp-controller="Users" asp-action="Details"
					   asp-route-id="@account.OwnerId" class="btn btn-secondary" style="margin-bottom: 10px;">Owner</a>
					</div>
				</div>
			</div>
		}
	</div>

	@*Pagination*@
	<partial name="_PaginationPartial" />
</div>

@section Scripts {
	<script>
		let params = {
			url: '@UrlPathConstants.ApiAccountsEndpoint',
			pages: @Model.Pagination.Pages
																		}
	</script>
	<script src="~/js/getAccounts.js"></script>
	<script src="~/js/setUpPagination.js"></script>
}