@model IEnumerable<AccountCardViewModel>

@foreach (var account in Model)
{
	<div class="col-sm-3 mb-3 mb-sm-0">
		<div class="card formField" style="margin-left: 8px; margin-right: 8px;">
			<div class="d-flex justify-content-center">
				<img src="/icons/icons8-wallet-64.png" style="max-width: fit-content;">
			</div>
			<div class="card-body text-center">
				<h5 class="card-title">@account.Name</h5>
				<p class="card-text">@account.Balance @account.CurrencyName</p>
				<a asp-area="@ViewBag.Area" asp-controller="@ViewBag.Controller" asp-action="@ViewBag.Action" asp-route-id="@account.Id" class="btn btn-primary">
					Details
				</a>
			</div>
		</div>
	</div>
}