@model AccountDetailsViewModel
@{
	ViewData["Title"] = "Account Details";
}

<div class="d-flex bd-highlight" style="margin-top: 25px;">
	<div class="p-2 bd-highlight">
		<img src="/icons/icons8-wallet-64.png" style="max-width: fit-content;">
	</div>
	<div class="p-2 flex-grow-1 bd-highlight">
		<h1 class="display-6">
			@Model.Name
		</h1>
		<p class="display-6" style="font-size: xx-large;" id="balanceField">Balance: @Model.Balance @Model.CurrencyName</p>
	</div>
	<div class="p-2 bd-highlight" style="margin-top: 25px;">
		<a asp-area="" asp-controller="Account" asp-action="Edit" asp-route-id="@Model.Id"
		   asp-route-returnUrl="@ViewBag.ReturnUrl" class="btn btn-warning">Edit Account</a>
	</div>
	<div class="p-2 bd-highlight" style="margin-top: 25px;">
		<a asp-area="" asp-controller="Account" asp-action="Delete" asp-route-id="@Model.Id"
		   asp-route-returnUrl="@ViewBag.ReturnUrl" class="btn btn-danger">Delete Account</a>
	</div>
</div>

<partial name="_TransactionsTablePartial" />