@using PersonalFinancer.Web.Models.Shared;
@model DateFilterModel

<form method="post" class="row g-3 offset-md-2 col-md-8 mb-4">
	<div class="col-lg-5 form-floating">
		<input type="datetime-local" name="@nameof(Model.FromLocalTime)" value="@Model.FromLocalTime?.ToString("yyyy-MM-ddTHH:mm")" class="form-control">
		<label asp-for="@Model.FromLocalTime" class="form-label"></label>
		<span asp-validation-for="@Model.FromLocalTime" class="text-danger"></span>
	</div>
	<div class="col-lg-5 form-floating">
		<input type="datetime-local" name="@nameof(Model.ToLocalTime)" value="@Model.ToLocalTime?.ToString("yyyy-MM-ddTHH:mm")" class="form-control">
		<label asp-for="@Model.ToLocalTime" class="form-label"></label>
		<span asp-validation-for="@Model.ToLocalTime" class="text-danger"></span>
	</div>
	<div class="col-lg-2">
		<button type="submit" class="btn btn-lg btn-secondary form-control">Filter</button>
	</div>
</form>