@using PersonalFinancer.Common.Messages;
@using PersonalFinancer.Web.Extensions;

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Personal Financer</title>
	<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/PersonalFinancer.Web.styles.css" asp-append-version="true" />
</head>

<body class="bg-light">

	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-secondary border-bottom box-shadow mb-3">
			<div class="container-fluid">

				<div class="navbar-brand">
					<img src="~/favicon-64x64.png" style="max-height: 50px;" />
					<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Personal Financer</a>
				</div>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav flex-grow-1">
						@if (this.User.IsAuthenticated())
						{
							if (this.User.IsAdmin())
							{
								<a class="nav-link text-light" asp-area="Admin" asp-controller="Users" asp-action="Index">All Users</a>
								<a class="nav-link text-light" asp-area="Admin" asp-controller="Accounts" asp-action="Index">All Accounts</a>
							}
							else
							{
								<a class="nav-link text-light" asp-area="" asp-controller="Transactions" asp-action="All">Transactions</a>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
										Create
									</a>
									<ul class="dropdown-menu dropdown-menu-end">
										<li class="dropdown-item">
											<a class="nav-link text-dark" asp-area="" asp-controller="Transactions" asp-action="Create">Transaction</a>
										</li>
										<li class="dropdown-item">
											<a class="nav-link text-dark" asp-area="" asp-controller="Accounts" asp-action="Create">Account</a>
										</li>
									</ul>
								</li>
							}
						}
					</ul>

					<partial name="_LoginPartial" />
				</div>

			</div>
		</nav>
	</header>

	<div class="container">
		<main role="main" class="pb-3">

			@if (TempData.ContainsKey(ResponseMessages.TempDataKey))
			{
				<div class="alert alert-success alert-dismissible fade show" role="alert">
					<i class="bi bi-check-circle me-1"></i>
					@TempData[ResponseMessages.TempDataKey]
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			}

			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted bg-secondary">
		<div class="container text-light">
			&copy; @DateTime.Now.Year - Personal Financer - All rights reserved
		</div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>

	@if (this.User.IsAuthenticated())
	{
		<script src="~/lib/microsoft-signalr/signalr.min.js"></script>
		<script>
			let userId = '@this.User.Id()';
		</script>
		<script src="~/js/hubs/notificationsHub.js"></script>
	}

	@await RenderSectionAsync("Scripts", required: false)

</body>
</html>
