@using PersonalFinancer.Common.Messages;
@using PersonalFinancer.Services.Messages;
@inject IMessagesService messagesService;

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Personal Financer</title>
	<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/PersonalFinancer.Web.styles.css" asp-append-version="true" />
</head>

<body class="bg-light">
	<header style="margin-bottom: 80px;">
		<nav class="navbar navbar-expand navbar-toggleable navbar-dark bg-secondary border-bottom box-shadow fixed-top">
			<div class="container-fluid">
				<div class="navbar-collapse d-flex justify-content-between">
					<div class="navbar-nav">
						<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" title="Dashboard">
							<img src="/icons/icons8-mortgage-64.png" style="max-height: 40px;" />
						</a>
					</div>
					<ul class="navbar-nav">
						@if (this.User.IsAuthenticated())
						{
							if (this.User.IsAdmin())
							{
								<a class="nav-link text-light" asp-area="Admin" asp-controller="Users" asp-action="Index" title="All Users">
									<img src="~/icons/icons8-people-64.png" style="max-height: 40px;" />
								</a>
								<a class="nav-link text-light" asp-area="Admin" asp-controller="Accounts" asp-action="Index" title="All Accounts">
									<img src="~/icons/icons8-wallet-64.png" style="max-height: 40px;" />
								</a>
								<li class="nav-item dropdown">
									<a class="nav-link" id="navpanMessagesBtn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="Messages">
										<img src="/icons/icons8-speech-bubble-64.png" style="max-height: 40px;" />

										@if (await this.messagesService.HasUnseenMessagesByAdminAsync())
										{
											<span class="position-absolute top-40 start-80 translate-middle p-2 bg-danger rounded-circle"></span>
										}
									</a>
									<ul class="dropdown-menu dropdown-menu-end">
										<li class="m-2"><a class="btn btn-link dropdown-item" asp-area="" asp-controller="Messages" asp-action="Index" style="text-decoration: none;">Users Messages</a></li>
										<li class="m-2"><a class="btn btn-link dropdown-item" asp-area="" asp-controller="Messages" asp-action="Archived" style="text-decoration: none;">Archived Messages</a></li>
									</ul>
								</li>
							}
							else
							{
								<li class="nav-item dropdown">
									<a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="Create">
										<img src="~/icons/icons8-plus-64.png" style="max-height: 40px;" />
									</a>
									<ul class="dropdown-menu dropdown-menu-start">
										<li class="m-2"><a class="btn btn-link dropdown-item" asp-area="" asp-controller="Transactions" asp-action="Create">Transaction</a></li>
										<li class="m-2"><a class="btn btn-link dropdown-item" asp-area="" asp-controller="Accounts" asp-action="Create">Account</a></li>
									</ul>
								</li>
								<a class="nav-link" asp-area="" asp-controller="Transactions" asp-action="Index" title="Transactions">
									<img src="/icons/icons8-transaction-64.png" style="max-height: 40px;" />
								</a>
								<li class="nav-item dropdown">
									<a class="nav-link" id="navpanMessagesBtn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="Contact Us">
										<img src="/icons/icons8-speech-bubble-64.png" style="max-height: 40px;" />

										@if (await this.messagesService.HasUnseenMessagesByUserAsync(this.User.Id()))
										{
											<span class="position-absolute top-40 start-80 translate-middle p-2 bg-danger rounded-circle"></span>
										}
									</a>
									<ul class="dropdown-menu dropdown-menu-end">
										<li class="m-2"><a class="btn btn-link dropdown-item" asp-area="" asp-controller="Messages" asp-action="Create">Write Message</a></li>
										<li class="m-2"><a class="btn btn-link dropdown-item" asp-area="" asp-controller="Messages" asp-action="Index">Your Messages</a></li>
										<li class="m-2"><a class="btn btn-link dropdown-item" asp-area="" asp-controller="Messages" asp-action="Archived">Archived Messages</a></li>
									</ul>
								</li>
							}
						}
					</ul>
					<ul class="navbar-nav">
						@if (this.User.IsAuthenticated())
						{
							<li class="nav-item dropdown">
								<a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="@User.GetUserUsername()">
									<img src="~/icons/icons8-test-account-64.png" style="max-height: 40px;" />
								</a>
								<ul class="dropdown-menu dropdown-menu-end">
									<li class="m-2"><a class="btn btn-link dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Profile</a></li>
									<li class="m-2">
										<form method="post">
											<input type="submit" class="btn btn-link dropdown-item" asp-area="Identity" asp-page="/Account/Logout" value="Logout" />
										</form>
									</li>
								</ul>
							</li>
						}
						else
						{
							<li class="nav-item">
								<a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
							</li>
						}
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<div class="container">
		<main role="main" class="pb-3">

			@if (TempData.ContainsKey(ResponseMessages.TempDataKey))
			{
				<div class="alert alert-success alert-dismissible fade show" role="alert">
					<i class="bi bi-check-circle me-1"></i>
					@TempData[ResponseMessages.TempDataKey]
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			}

			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted bg-secondary">
		<div class="container text-light">
			&copy; @DateTime.Now.Year - Personal Financer - All rights reserved
		</div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>

	@if (this.User.IsAuthenticated())
	{
		<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
		<script>
			let userId = '@this.User.Id()';
		</script>
		<script src="~/js/hubs/notificationsHub.js"></script>
	}

	@await RenderSectionAsync("Scripts", required: false)

</body>
</html>
