<div class="d-flex justify-content-between align-items-center">
	<p>@Model.Pagination.FirstElement to @Model.Pagination.LastElement from @Model.Pagination.TotalElements transactions</p>
	<ul class="pagination" style="margin-top: 25px;">
		<li class="page-item @(Model.Pagination.Page == 1 ? "disabled" : string.Empty)">
			<a class="page-link" style="color: black;" asp-area="@Model.Routing.Area" asp-controller="@Model.Routing.Controller" asp-action="@Model.Routing.Action"
			   asp-route-id="@ViewBag.ModelId" asp-route-page="@(Model.Pagination.Page - 1)" asp-route-startDate="@Model.Dates.StartDate" asp-route-endDate="@Model.Dates.EndDate">Previous</a>
		</li>
		<li class="page-item @(Model.Pagination.Page == 1 ? "active" : string.Empty)">
			<a class="page-link" style="color: black; @(Model.Pagination.Page == 1 ? "background-color: gray; border-color: gray;" : string.Empty)"
			   asp-area="@Model.Routing.Area" asp-controller="@Model.Routing.Controller" asp-action="@Model.Routing.Action" asp-route-id="@ViewBag.ModelId" asp-route-page="1"
			   asp-route-startDate="@Model.Dates.StartDate" asp-route-endDate="@Model.Dates.EndDate">1</a>
		</li>
		@if (Model.Pagination.Page - 3 > 1)
		{
			<li class="page-item"><p class="page-link" style="color: black">...</p></li>
		}
		@for (int i = Model.Pagination.Page - 2; i <= Model.Pagination.Page + 2; i++)
		{
			if (i > 1 && i < Model.Pagination.Pages)
			{
				<li class="page-item @(Model.Pagination.Page == i ? "active" : string.Empty)">
					<a class="page-link" style="color: black; @(Model.Pagination.Page == i ? "background-color: gray; border-color: gray;" : string.Empty)"
			   asp-area="@Model.Routing.Area" asp-controller="@Model.Routing.Controller" asp-action="@Model.Routing.Action" asp-route-id="@ViewBag.ModelId" asp-route-page="@i"
			   asp-route-startDate="@Model.Dates.StartDate" asp-route-endDate="@Model.Dates.EndDate">@i</a>
				</li>
			}
		}
		@if (Model.Pagination.Page + 3 < Model.Pagination.Pages)
		{
			<li class="page-item"><p class="page-link" style="color: black;">...</p></li>
		}
		@if (Model.Pagination.Pages > 1)
		{
			<li class="page-item @(Model.Pagination.Page == Model.Pagination.Pages ? "active" : string.Empty)">
				<a class="page-link" style="color: black; @(Model.Pagination.Page == Model.Pagination.Pages ? "background-color: gray; border-color: gray;" : string.Empty)"
			   asp-area="@Model.Routing.Area" asp-controller="@Model.Routing.Controller" asp-action="@Model.Routing.Action" asp-route-id="@ViewBag.ModelId" asp-route-page="@Model.Pagination.Pages"
			   asp-route-startDate="@Model.Dates.StartDate" asp-route-endDate="@Model.Dates.EndDate">@Model.Pagination.Pages</a>
			</li>
		}
		<li class="page-item @(Model.Pagination.Page == Model.Pagination.Pages ? "disabled" : string.Empty)">
			<a class="page-link" style="color: black;" asp-area="@Model.Routing.Area" asp-controller="@Model.Routing.Controller" asp-action="@Model.Routing.Action" asp-route-id="@ViewBag.ModelId"
			   asp-route-page="@(Model.Pagination.Page + 1)" asp-route-startDate="@Model.Dates.StartDate" asp-route-endDate="@Model.Dates.EndDate">Next</a>
		</li>
	</ul>
</div>