@using PersonalFinancer.Data.Models.Enums;
@using PersonalFinancer.Web.Models.Transaction;
@using static PersonalFinancer.Common.Constants.UrlPathConstants;
@model CreateEditTransactionViewModel

<div class="row justify-content-center">
	<div class="col-11 col-sm-8 col-md-6 col-xl-5">
		<section>
			<form method="post">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-floating shadow rounded-3">
					<input asp-for="@Model.Amount" class="form-control form-control-lg" placeholder=".form-control-lg" />
					<label asp-for="@Model.Amount" class="form-label"></label>
				</div>
				<span asp-validation-for="@Model.Amount" class="text-danger"></span>
				<div class="form-floating shadow mt-3 rounded-3">
					<input value="@Model.CreatedOnLocalTime.ToString("yyyy-MM-ddTHH:mm")" name="@nameof(Model.CreatedOnLocalTime)" type="datetime-local" class="form-control datepicker" placeholder=".form-control-lg">
					<label asp-for="@Model.CreatedOnLocalTime" class="form-label"></label>
				</div>
				<span asp-validation-for="@Model.CreatedOnLocalTime" class="text-danger"></span>
				<div class="newElemDiv card shadow dropdown-menu position-static d-grid gap-1 p-2 rounded-3 mx-0 mt-3" ownerId="@Model.OwnerId" apiUrl="@ApiCategoriesEndpoint">
					<label asp-for="@Model.CategoryId" class="form-label"></label>
					<select asp-for="@Model.CategoryId" class="form-select">
						@foreach (var category in @Model.OwnerCategories)
						{
							<option value="@category.Id" id="@category.Id">@category.Name</option>
						}
					</select>
					<span asp-validation-for="@Model.CategoryId" class="text-danger"></span>
					<div class="form-floating " style="display: none;">
						<input class="form-control form-control-lg" type="text" placeholder=".form-control-lg">
						<label class="form-label">Write the new category name...</label>
						<p class="text-danger"></p>
					</div>
					<div class="d-flex justify-content-center m-2">
						<div class="spinner-border" role="status" style="display: none;"></div>
					</div>
					<a class="btn btn-secondary createBtn mb-2">Create new category</a>
					<a class="btn btn-danger deleteBtn" style="display: @(Model.OwnerCategories.Any() ? "block" : "none")">Delete selected category</a>
				</div>
				<div class="dropdown-menu card shadow position-static d-grid gap-1 p-2 rounded-3 mx-0 mt-3">
					<label asp-for="@Model.AccountId" class="form-label"></label>
					<select asp-for="@Model.AccountId" class="form-select">
						@foreach (var account in @Model.OwnerAccounts)
						{
							<option value="@account.Id">@account.Name</option>
						}
					</select>
					<span asp-validation-for="@Model.AccountId" class="text-danger"></span>
				</div>
				<div class="dropdown-menu card shadow position-static d-grid gap-1 p-2 rounded-3 mx-0 mt-3">
					<label asp-for="@Model.TransactionType" class="form-label"></label>
					<select asp-for="@Model.TransactionType" asp-items="@(Html.GetEnumSelectList<TransactionType>())" class="form-select"></select>
					<span asp-validation-for="@Model.TransactionType" class="text-danger"></span>
				</div>
				<div class="form-floating shadow mt-3 rounded-3">
					<input type="text" asp-for="@Model.Reference" class="form-control form-control-lg" placeholder=".form-control-lg" />
					<label asp-for="@Model.Reference" class="form-lebel"></label>
				</div>
				<span asp-validation-for="@Model.Reference" class="text-danger"></span>
				<input type="hidden" asp-for="@Model.OwnerId" />
				<div class="mt-3">
					<button type="submit" class="shadow w-100 btn btn-lg btn-success">Submit</button>
				</div>
			</form>
		</section>
	</div>
</div>