@using PersonalFinancer.Web.Models.Account;
@using PersonalFinancer.Web.Models.Shared;
@model AccountDetailsViewModel
@{
	ViewData["Title"] = "Account Details";
}

@*Account Details*@
<div class="row" style="margin-top: 25px;">
	<div class="d-flex bd-highlight offset-lg-1 col-lg-10">
		<div class="p-2 bd-highlight">
			<img src="/icons/icons8-wallet-64.png" style="max-width: fit-content;">
		</div>
		<div class="p-2 flex-grow-1 bd-highlight">
			<h1 class="display-6 fs-3"><b>@Model.Name</b></h1>
			<p class="display-6 fs-4" style="font-size: xx-large;" id="balanceField">Balance: @Model.Balance @Model.CurrencyName</p>
		</div>
		<div class="p-2 bd-highlight">
			<a asp-controller="Accounts" asp-action="EditAccount" asp-route-id="@Model.Id"
			   asp-route-returnUrl="@Model.Routing.ReturnUrl" class="btn btn-warning">Edit Account</a>
			<a asp-controller="Accounts" asp-action="Delete" asp-route-id="@Model.Id"
			   asp-route-returnUrl="@Model.Routing.ReturnUrl" class="btn btn-danger">Delete Account</a>
		</div>
	</div>
</div>

@*DatePicker*@
<partial name="_DatePickerFormPartial" model='new DateFilterModel { StartDate = Model.StartDate, EndDate = Model.EndDate }' />

@if (Model.Transactions.Any())
{
	<div class="row justify-content-center">
		<div class="col-xl-10">
			@*Pagination*@
			<partial name="_PaginationPartial" />

			@*Table*@
			<div class="card shadow mb-4">
				<div class="card-header">
					<h6>Transactions</h6>
				</div>
				<partial name="_TransactionsTablePartial" />
			</div>

			@*Pagination*@
			<partial name="_PaginationPartial" />
		</div>
	</div>
}
else
{
	@*No Transaction Page*@
	<div class="text-center" style="margin-top: 50px;">
		<p class="display-6">
			You do not have any transactions for that period.
		</p>
	</div>
}

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script>
		let params = { 
			id: '@Model.Id',
			startDate: '@Model.StartDate.ToString("O")',
			endDate: '@Model.EndDate.ToString("O")',
			ownerId: '@Model.OwnerId',
			url: '@Model.ApiTransactionsEndpoint',
			pages: @Model.Pagination.Pages
		}
	</script>
	<script src="/js/getTransactions.js"></script>
	<script src="~/js/setUpPagination.js"></script>
}