@using PersonalFinancer.Services.Messages.Models;
@using System.Globalization;
@model IEnumerable<MessageOutputDTO>
@{
	ViewData["Title"] = "Messages";
}

<p class="display-6 text-center">@ViewData["Title"]</p>

<div class="row d-flex justify-content-center">
	<div id="tableContainer" class="col-md-10 col-lg-8">
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Subject</th>
					<th scope="col">Date</th>
				</tr>
			</thead>
			<tbody style="vertical-align: text-top;">
		
				@if (Model.Any())
				{
					@foreach (var message in Model)
					{
						<tr role="button" onclick="location.href='@Url.Action("MessageDetails", "Messages", new { id = message.Id })'">
							<td messageId="@message.Id">
								<img src="/icons/icons8-message-64.png" style="max-width: 45px;" />
								<span>	@message.Subject</span>

								@if (!message.IsSeen)
								{
									<span class="badge text-bg-danger">New messages</span>
								}
							</td>
							<td><p>@message.CreatedOn.ToLocalTime().ToString("f", CultureInfo.GetCultureInfo("en-US"))</p></td>
						</tr>
					}
				}

			</tbody>
		</table>

		@if (!Model.Any())
		{
			<p id="noMessagesNote" class="display-6 fs-4 text-center">You don't have any messages.</p>
		}
	</div>
</div>

@section Scripts {
	<script src="~/js/hubs/allMessagesHub.js"></script>
}