@using PersonalFinancer.Services.Shared.Models;
@model TransactionDetailsViewModel

<p class="display-6 text-center">Transaction Details</p>
<div class="row">
	<div class="card offset-md-4 col-md-4">
		<ul class="list-group list-group-flush">
			<li class="list-group-item">Created On: @Model.CreatedOn</li>
			<li class="list-group-item">Refference: @Model.Refference</li>
			<li class="list-group-item">Amount: @Model.Amount @Model.AccountCurrencyName</li>
			<li class="list-group-item">Account: @Model.AccountName</li>
			<li class="list-group-item">Category: @Model.CategoryName</li>
			<li class="list-group-item">Type: @Model.TransactionType</li>
		</ul>
		<div style="margin-top:20px;">
			<a asp-controller="Transaction" asp-action="EditTransaction" asp-route-id="@Model.Id" class="w-100 btn btn-lg btn-warning">Edit</a>
		</div>
		<form method="post" asp-controller="Transaction" asp-action="Delete" asp-route-id="@Model.Id" style="margin-top:20px; margin-bottom: 20px;">
			<input type="submit" class="w-100 btn btn-lg btn-danger" onclick="return confirm('Are you sure you want to delete this Transaction?')" value="Delete" />
		</form>
	</div>
</div>