@using PersonalFinancer.Web.Models.Message;
@using static PersonalFinancer.Common.Messages.ValidationMessages;
@model MessageModel
@{
	ViewData["Title"] = "Create Message";
}

<p class="display-6 text-center">@ViewData["Title"]</p>
<div class="row d-flex justify-content-center">
	<div class="col-sm-6">
		<form method="post" enctype="multipart/form-data">
			<div class="form-floating card shadow mt-3">
				<input type="text" asp-for="@Model.Subject" class="form-control" placeholder=".form-control-lg">
				<label asp-for=@Model.Subject class="form-label"></label>
			</div>
			<span asp-validation-for="@Model.Subject" class="text-danger"></span>
			<div class="form-floating card shadow mt-3">
				<textarea asp-for="@Model.Content" class="form-control" rows="5" style="height: 200px"></textarea>
				<label asp-for="@Model.Content" class="form-label"></label>
			</div>
			<span asp-validation-for="@Model.Content" class="text-danger"></span>
			<label asp-for="@Model.Image" class="form-label mt-3">Attach an image <i>(@MessageImageConstraints)</i>.</label>
			<div class="shadow rounded-3">
				<input asp-for="@Model.Image" class="form-control">
			</div>
			<span asp-validation-for="@Model.Image" class="text-danger"></span>
			<div class="mt-5">
				<button type="submit" class="w-100 btn btn-lg btn-success shadow">Send Message</button>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}