@using PersonalFinancer.Web.Models.Message;
@using System.Globalization;
@using static PersonalFinancer.Common.Constants.UrlPathConstants;
@using static PersonalFinancer.Common.Constants.MessageConstants;
@model MessageDetailsViewModel
@{
	ViewData["Title"] = "Message Details";
}

<p class="display-6 text-center">@ViewData["Title"]</p>
<div class="row justify-content-center">
	<div class="col-lg-8">
		<div>
			<div class="card shadow mb-4">
				<div class="card-header">
					<h3><b>@Model.Subject</b></h3>
				</div>
				<div class="card-body">
					<blockquote class="blockquote mb-0">
						<p>@Model.Content</p>
						<footer class="blockquote-footer mt-1">
							Writed from  @Model.AuthorName on
							<cite title="Source Title">@Model.CreatedOnUtc.ToLocalTime().ToString("f", CultureInfo.GetCultureInfo("en-US"))</cite>
						</footer>
					</blockquote>
				</div>
			</div>
			<div class="container" id="replies">
				<p class="display-6 fs-4 text-center mt-2">Replies</p>

				@foreach (var reply in Model.Replies)
				{
					<div class="card shadow mb-4">
						<div class="card-body">
							<blockquote class="blockquote mb-0">
								<p>@reply.Content</p>
								<footer class="blockquote-footer mt-1">
									Writed from  @reply.AuthorName on
									<cite title="Source Title">@reply.CreatedOnUtc.ToLocalTime().ToString("f", CultureInfo.GetCultureInfo("en-US"))</cite>
								</footer>
							</blockquote>
						</div>
					</div>
				}

			</div>
		</div>
		<hr class="mt-4" />
		<div>
			<form id="replyForm">
				<textarea asp-for="@Model.ReplyContent" class="form-control" rows="5" placeholder="Write your reply here..."></textarea>
				<span asp-validation-for="@Model.ReplyContent" class="text-danger"></span>
				<button type="submit" id="sendReply" class="w-100 btn btn-lg btn-success mt-2">Send Reply</button>
			</form>
		</div>
		<hr class="mt-4" />
		<form method="post" asp-action="Archive" asp-route-id="@Model.Id">
			<button type="submit" class="w-100 btn btn-warning mb-2" onclick="return confirm('Are you sure you want to archive this message?')">Archive the message</button>
		</form>
		<form method="post" asp-action="Delete" asp-route-id="@Model.Id">
			<button type="submit" class="w-100 btn btn-danger" onclick="return confirm('Are you sure you want to delete this message?')">Delete the message</button>
		</form>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script>
		let params = {
			messageId: '@Model.Id',
			authorId: '@Model.AuthorId',
			url: '@ApiMessagesEndpoint',
			replyMinLenght: @ReplyMinLength,
			replyMaxLenght: @ReplyMaxLength
		};
	</script>
	<script src="~/js/hubs/messageHub.js"></script>
}