@using PersonalFinancer.Web.Models.Account;
@model DeleteAccountViewModel

<div class="row" style="margin-top: 50px;">
	<p class="fs-2">You are going to delete @Model.Name account!</p>

	<form method="post">
		<input type="hidden" asp-for="@Model.ReturnUrl" />
		<div class="form-check">
			<input class="form-check-input" type="checkbox" asp-for="@Model.ShouldDeleteTransactions">
			<label class="form-check-label" asp-for="@Model.ShouldDeleteTransactions">Also delete all transactions!</label>
		</div>
		<button type="submit" name="confirmButton" value="accept" class="btn btn-danger" style="margin-top: 15px;">Delete @Model.Name!</button>
		<button type="submit" name="confirmButton" value="reject" class="btn btn-secondary" style="margin-top: 15px;">Do Not Delete @Model.Name!</button>
	</form>
</div>