@using PersonalFinancer.Web.Models.Account;
@using PersonalFinancer.Web.Models.Shared;
@using static PersonalFinancer.Common.Constants.UrlPathConstants;
@model AccountDetailsViewModel
@{
	ViewData["Title"] = "Account Details";
}

@*Account Details*@
<div class="row mt-2">
	<div class="d-flex bd-highlight offset-lg-1 col-lg-10">
		<div class="p-2 bd-highlight">
			<img src="/icons/icons8-wallet-64.png" style="max-width: fit-content;">
		</div>
		<div class="p-2 flex-grow-1 bd-highlight">
			<h1 class="display-6 fs-3"><b>@Model.Name</b> (@Model.AccountTypeName)</h1>
			<p class="display-6 fs-4" style="font-size: xx-large;" id="balanceField">@Model.Balance @Model.CurrencyName</p>
		</div>
		<div class="p-2 dropdown">
			<a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="Account Menu">
				<img src="~/icons/icons8-menu-64.png" style="max-width: 50px;" />
			</a>
			<ul class="dropdown-menu dropdown-menu-end">
				<li class="m-2"><a class="btn btn-link dropdown-item" asp-controller="Accounts" asp-action="Edit" asp-route-id="@Model.Id">Edit Account</a></li>
				<li class="m-2"><a class="btn btn-link dropdown-item" asp-controller="Accounts" asp-action="Delete" asp-route-id="@Model.Id" asp-route-returnUrl="@Model.ReturnUrl">Delete Account</a></li>
			</ul>
		</div>
	</div>
</div>

@*DatePicker*@
<partial name="_DatePickerFormPartial" model='new DateFilterModel { FromLocalTime = Model.FromLocalTime, ToLocalTime = Model.ToLocalTime }' />

@if (Model.Transactions.Any())
{
	<div class="row justify-content-center">
		<div class="col-xl-10">
			@*Table*@
			<div class="card shadow mb-4">
				<div class="card-header">
					<h6 class="text-center">Transactions</h6>
				</div>
				<partial name="_TransactionsTablePartial" />
			</div>

			@*Pagination*@
			<partial name="_PaginationPartial" />
		</div>
	</div>

	@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script>
		let params = {
			url: '@ApiAccountTransactionsEndpoint',
			transactionEndpoint: '@ApiTransactionsEndpoint',
			editTransactionPath: '@TransactionEditPath',
			body: {
				id: '@Model.Id',
				fromLocalTime: '@Model.FromLocalTime?.ToString("yyyy-MM-ddTHH:mm")',
				toLocalTime: '@Model.ToLocalTime?.ToString("yyyy-MM-ddTHH:mm")',
				ownerId: '@Model.OwnerId',
			}
		}
	</script>
	<script src="~/js/renderTransactions.js"></script>
	<script src="~/js/pagination.js"></script>
	<script src="~/js/transactionModal.js"></script>
	}
}
else
{
	@*No Transaction Page*@
	<div class="text-center mt-4">
		<p class="display-6">
			You do not have any transactions for that period.
		</p>
	</div>
}

