@using PersonalFinancer.Services.User.Models;
@using PersonalFinancer.Web.Models.User;
@model UsersViewModel
@{
	ViewData["Title"] = "All Users";
	int row = 1;
}

<div class="row">
	<div class="offset-lg-2 col-lg-8">
		<h1 class="display-6 text-center">@ViewData["Title"]</h1>

		<partial name="_PaginationPartial" />

		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col"></th>
					<th scope="col"></th>
					<th scope="col">Name</th>
					<th scope="col">Email</th>
					<th scope="col">Phone Number</th>
				</tr>
			</thead>
			<tbody style="vertical-align: text-top;">
				@foreach (UserServiceModel user in Model.Users)
				{
					<tr role="button" onclick="location.href='@Url.Action("Details", "Users", new { id = user.Id })'">
						<th scope="row">@(row++)</th>
						<td><img src="/icons/icons8-budget-64.png" style="max-width: 50px;"></td>
						<td>@user.FirstName @user.LastName</td>
						<td>@user.Email</td>
						<td>@user.PhoneNumber</td>
					</tr>
				}
			</tbody>
		</table>

		<partial name="_PaginationPartial" />
	</div>
</div>


@section Scripts {
	<script>
		let params = {
			url: '@Model.ApiUsersEndpoint',
			pages: @Model.Pagination.Pages
		}
	</script>
	<script src="/js/getUsers.js"></script>
	<script src="~/js/setUpPagination.js"></script>
}