@using PersonalFinancer.Services.Shared.Models;
@using PersonalFinancer.Services.Accounts.Models;
@model UserTransactionsViewModel
@{
	ViewData["Title"] = "All Transactions";
}

@*DatePicker*@
<partial name="_DatePickerFormPartial" model='new DateFilterModel { StartDate = Model.StartDate, EndDate = Model.EndDate }' />

@if (Model.Transactions.Any())
{
	<div class="row">
		<div class="offset-md-1 col-md-10">

			@*Pagination*@
			<partial name="_PaginationPartial" />

			@*Transactions Table*@
			<div class="card">
				<div class="card-header">
					<h6>All Transactions</h6>
				</div>
				<partial name="_TransactionsTablePartial" />
			</div>

			@*Pagination*@
			<partial name="_PaginationPartial" />

		</div>
	</div>
}
else
{
	@*No Transactions Page*@
	<div class="text-center" style="margin-top: 50px;">
		<p class="display-6">
			You do not have any transactions for that period.
		</p>
	</div>
}

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script>
		let params = {
			id: '@Model.Id',
			startDate: '@Model.StartDate.ToString("O")',
			endDate: '@Model.EndDate.ToString("O")',
			ownerId: '@Model.OwnerId',
			url: '@Model.ApiTransactionsEndpoint',
			pages: @Model.Pagination.Pages
		}
	</script>
	<script src="~/js/getTransactions.js"></script>
	<script src="~/js/setUpPagination.js"></script>
}