@using PersonalFinancer.Web.Models.Shared;
@using PersonalFinancer.Web.Models.Transaction;
@model UserTransactionsViewModel
@{
	ViewData["Title"] = "All Transactions";
}

<h1 class="display-6 text-center">@ViewData["Title"]</h1>

@*DatePicker*@
<partial name="_DatePickerFormPartial" model='new DateFilterModel { StartDate = Model.StartDate, EndDate = Model.EndDate }' />

@if (Model.Transactions.Any())
{
	<div class="row justify-content-center">
		<div class="col-xl-10">

			@*Pagination*@
			<partial name="_PaginationPartial" />

			@*Transactions Table*@
			<div class="card shadow mb-4">
				<div class="card-header">
					<h6>All Transactions</h6>
				</div>
				<partial name="_TransactionsTablePartial" />
			</div>

			@*Pagination*@
			<partial name="_PaginationPartial" />

		</div>
	</div>
}
else
{
	@*No Transactions Page*@
	<div class="text-center" style="margin-top: 50px;">
		<p class="display-6 fs-4">
			You do not have any transactions for that period.
		</p>
	</div>
}

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script>
		let params = {
			id: '@Model.Id',
			startDate: '@Model.StartDate.ToString("yyyy-MM-ddTHH:mm")',
			endDate: '@Model.EndDate.ToString("yyyy-MM-ddTHH:mm")',
			url: '@Model.ApiTransactionsEndpoint',
		}
	</script>
	<script src="~/js/getTransactions.js"></script>
	<script src="~/js/setUpPagination.js"></script>
}