@using PersonalFinancer.Services.Shared.Models;
@using PersonalFinancer.Web.Models.Transaction;
@using static PersonalFinancer.Common.Constants.UrlPathConstants;
@model UserTransactionsViewModel
@{
	ViewData["Title"] = "Transactions";
}

<div class="row justify-content-center">
	<div class="col-10 col-sm-8 col-md-4 col-lg-3">

		@*Transactions Filter*@
		<form method="post">
			<div class="form-floating card shadow">
				<input type="datetime-local" name="@nameof(Model.FromLocalTime)" value="@Model.FromLocalTime?.ToString("yyyy-MM-ddTHH:mm")" class="form-control">
				<label asp-for="@Model.FromLocalTime" class="form-label"></label>
			</div>
			<span asp-validation-for="@Model.FromLocalTime" class="text-danger"></span>
			<div class="form-floating card shadow mt-2">
				<input type="datetime-local" name="@nameof(Model.ToLocalTime)" value="@Model.ToLocalTime?.ToString("yyyy-MM-ddTHH:mm")" class="form-control">
				<label asp-for="@Model.ToLocalTime" class="form-label"></label>
			</div>
			<span asp-validation-for="@Model.ToLocalTime" class="text-danger"></span>
			<div class="dropdown-menu position-static d-grid gap-1 p-2 rounded-3 mx-0 mt-4 mb-2 shadow">
				<label asp-for="@Model.AccountId" class="form-label"></label>
				<select class="form-select" asp-for="@Model.AccountId">
					<option value="">All Accounts</option>
					@foreach (var account in Model.OwnerAccounts)
					{
						<option value="@account.Id">@account.Name</option>
					}
				</select>
			</div>
			<div class="dropdown-menu position-static d-grid gap-1 p-2 rounded-3 mx-0 mb-2 shadow">
				<label asp-for="@Model.AccountTypeId" class="form-label"></label>
				<select class="form-select" asp-for="@Model.AccountTypeId">
					<option value="">All Account Types</option>
					@foreach (var accountType in Model.OwnerAccountTypes)
					{
						<option value="@accountType.Id">@accountType.Name</option>
					}
				</select>
			</div>
			<div class="dropdown-menu position-static d-grid gap-1 p-2 rounded-3 mx-0 mb-2 shadow">
				<label asp-for="@Model.CurrencyId" class="form-label"></label>
				<select class="form-select" asp-for="@Model.CurrencyId">
					<option value="">All Currensies</option>
					@foreach (var currency in Model.OwnerCurrencies)
					{
						<option value="@currency.Id">@currency.Name</option>
					}
				</select>
			</div>
			<div class="dropdown-menu position-static d-grid gap-1 p-2 rounded-3 mx-0 mb-2 shadow">
				<label asp-for="@Model.CategoryId" class="form-label"></label>
				<select class="form-select" asp-for="@Model.CategoryId">
					<option value="">All Categories</option>
					@foreach (var category in Model.OwnerCategories)
					{
						<option value="@category.Id">@category.Name</option>
					}
				</select>
			</div>
			<div class=" card shadow mb-4">
				<button type="submit" class="btn btn-secondary form-control">Filter</button>
			</div>
		</form>

	</div>
	<div class="col-12 col-sm-12 col-md-8 col-lg-9">
		@if (Model.Transactions.Any())
		{
			@*Transactions Table*@
			<div class="card shadow mb-4">
				<div class="card-header">
					<h1 class="display-6 text-center">@ViewData["Title"]</h1>
				</div>
				<partial name="_TransactionsTablePartial" />
			</div>

			@*Pagination*@
			<partial name="_PaginationPartial" />
		}
		else
		{
			@*No Transactions Page*@
			<div class="text-center mt-4">
				<p class="display-6 fs-4">
					You have no transactions matching the specified criteria.
				</p>
			</div>
		}
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script>
		let params = {
			url: '@ApiTransactionsEndpoint',
			transactionEndpoint: '@ApiTransactionsEndpoint',
			editTransactionPath: '@TransactionEditPath',
			body: {
				id: '@Model.UserId',
				fromLocalTime: '@Model.FromLocalTime?.ToString("yyyy-MM-ddTHH:mm")',
				toLocalTime: '@Model.ToLocalTime?.ToString("yyyy-MM-ddTHH:mm")',
				accountId: '@Model.AccountId',
				accountTypeId: '@Model.AccountTypeId',
				currencyId: '@Model.CurrencyId',
				categoryId: '@Model.CategoryId',
			}
		}
	</script>
	<script src="~/js/renderTransactions.js"></script>
	<script src="~/js/pagination.js"></script>
	<script src="~/js/transactionModal.js"></script>
}